### Cleaning up the ITE - Intake, Enrolment and Graduates by Course

In [2]:
# getting the json data
import urllib.request
import json

url = 'https://data.gov.sg/api/action/datastore_search?resource_id=0e005227-6e99-4a99-b608-d8f1c1606967&limit=156'
fileobj = urllib.request.urlopen(url)

data = fileobj.read().decode()
json_data = json.loads(data)
json_data

{'help': 'https://data.gov.sg/api/3/action/help_show?name=datastore_search',
 'success': True,
 'result': {'resource_id': '0e005227-6e99-4a99-b608-d8f1c1606967',
  'fields': [{'type': 'int4', 'id': '_id'},
   {'type': 'numeric', 'id': 'year'},
   {'type': 'text', 'id': 'sex'},
   {'type': 'text', 'id': 'course'},
   {'type': 'numeric', 'id': 'intake'},
   {'type': 'numeric', 'id': 'enrolment'},
   {'type': 'numeric', 'id': 'graduates'}],
  'records': [{'intake': '1156',
    'enrolment': '2172',
    'sex': 'MF',
    'course': 'Applied and Health Sciences',
    'year': '2009',
    '_id': 1,
    'graduates': '944'},
   {'intake': '710',
    'enrolment': '1369',
    'sex': 'F',
    'course': 'Applied and Health Sciences',
    'year': '2009',
    '_id': 2,
    'graduates': '593'},
   {'intake': '4076',
    'enrolment': '6316',
    'sex': 'MF',
    'course': 'Business & Services',
    'year': '2009',
    '_id': 3,
    'graduates': '3429'},
   {'intake': '2799',
    'enrolment': '4188',
    'sex': 'F',
    'course': 'Business & Services',
    'year': '2009',
    '_id': 4,
    'graduates': '2435'},
   {'intake': '541',
    'enrolment': '895',
    'sex': 'MF',
    'course': 'Design & Media',
    'year': '2009',
    '_id': 5,
    'graduates': '308'},
   {'intake': '268',
    'enrolment': '418',
    'sex': 'F',
    'course': 'Design & Media',
    'year': '2009',
    '_id': 6,
    'graduates': '142'},
   {'intake': '4121',
    'enrolment': '8237',
    'sex': 'MF',
    'course': 'Engineering',
    'year': '2009',
    '_id': 7,
    'graduates': '3463'},
   {'intake': '500',
    'enrolment': '964',
    'sex': 'F',
    'course': 'Engineering',
    'year': '2009',
    '_id': 8,
    'graduates': '369'},
   {'intake': '3811',
    'enrolment': '7226',
    'sex': 'MF',
    'course': 'Electronics & Infocomm Technology',
    'year': '2009',
    '_id': 9,
    'graduates': '2855'},
   {'intake': '1037',
    'enrolment': '1905',
    'sex': 'F',
    'course': 'Electronics & Infocomm Technology',
    'year': '2009',
    '_id': 10,
    'graduates': '772'},
   {'intake': '0',
    'enrolment': '0',
    'sex': 'MF',
    'course': 'Hospitality',
    'year': '2009',
    '_id': 11,
    'graduates': '0'},
   {'intake': '0',
    'enrolment': '0',
    'sex': 'F',
    'course': 'Hospitality',
    'year': '2009',
    '_id': 12,
    'graduates': '0'},
   {'intake': '1138',
    'enrolment': '2198',
    'sex': 'MF',
    'course': 'Applied and Health Sciences',
    'year': '2010',
    '_id': 13,
    'graduates': '987'},
   {'intake': '680',
    'enrolment': '1336',
    'sex': 'F',
    'course': 'Applied and Health Sciences',
    'year': '2010',
    '_id': 14,
    'graduates': '637'},
   {'intake': '4098',
    'enrolment': '6321',
    'sex': 'MF',
    'course': 'Business & Services',
    'year': '2010',
    '_id': 15,
    'graduates': '3591'},
   {'intake': '2754',
    'enrolment': '4138',
    'sex': 'F',
    'course': 'Business & Services',
    'year': '2010',
    '_id': 16,
    'graduates': '2474'},
   {'intake': '611',
    'enrolment': '1094',
    'sex': 'MF',
    'course': 'Design & Media',
    'year': '2010',
    '_id': 17,
    'graduates': '420'},
   {'intake': '320',
    'enrolment': '548',
    'sex': 'F',
    'course': 'Design & Media',
    'year': '2010',
    '_id': 18,
    'graduates': '181'},
   {'intake': '4147',
    'enrolment': '7891',
    'sex': 'MF',
    'course': 'Engineering',
    'year': '2010',
    '_id': 19,
    'graduates': '3179'},
   {'intake': '522',
    'enrolment': '968',
    'sex': 'F',
    'course': 'Engineering',
    'year': '2010',
    '_id': 20,
    'graduates': '366'},
   {'intake': '3892',
    'enrolment': '7285',
    'sex': 'MF',
    'course': 'Electronics & Infocomm Technology',
    'year': '2010',
    '_id': 21,
    'graduates': '3157'},
   {'intake': '972',
    'enrolment': '1866',
    'sex': 'F',
    'course': 'Electronics & Infocomm Technology',
    'year': '2010',
    '_id': 22,
    'graduates': '830'},
   {'intake': '0',
    'enrolment': '0',
    'sex': 'MF',
    'course': 'Hospitality',
    'year': '2010',
    '_id': 23,
    'graduates': '0'},
   {'intake': '0',
    'enrolment': '0',
    'sex': 'F',
    'course': 'Hospitality',
    'year': '2010',
    '_id': 24,
    'graduates': '0'},
   {'intake': '1293',
    'enrolment': '2447',
    'sex': 'MF',
    'course': 'Applied and Health Sciences',
    'year': '2011',
    '_id': 25,
    'graduates': '940'},
   {'intake': '847',
    'enrolment': '1560',
    'sex': 'F',
    'course': 'Applied and Health Sciences',
    'year': '2011',
    '_id': 26,
    'graduates': '591'},
   {'intake': '4232',
    'enrolment': '6462',
    'sex': 'MF',
    'course': 'Business & Services',
    'year': '2011',
    '_id': 27,
    'graduates': '3509'},
   {'intake': '2681',
    'enrolment': '4060',
    'sex': 'F',
    'course': 'Business & Services',
    'year': '2011',
    '_id': 28,
    'graduates': '2300'},
   {'intake': '603',
    'enrolment': '1156',
    'sex': 'MF',
    'course': 'Design & Media',
    'year': '2011',
    '_id': 29,
    'graduates': '507'},
   {'intake': '322',
    'enrolment': '609',
    'sex': 'F',
    'course': 'Design & Media',
    'year': '2011',
    '_id': 30,
    'graduates': '245'},
   {'intake': '4222',
    'enrolment': '7997',
    'sex': 'MF',
    'course': 'Engineering',
    'year': '2011',
    '_id': 31,
    'graduates': '3128'},
   {'intake': '615',
    'enrolment': '1068',
    'sex': 'F',
    'course': 'Engineering',
    'year': '2011',
    '_id': 32,
    'graduates': '386'},
   {'intake': '3748',
    'enrolment': '7217',
    'sex': 'MF',
    'course': 'Electronics & Infocomm Technology',
    'year': '2011',
    '_id': 33,
    'graduates': '3081'},
   {'intake': '1019',
    'enrolment': '1861',
    'sex': 'F',
    'course': 'Electronics & Infocomm Technology',
    'year': '2011',
    '_id': 34,
    'graduates': '804'},
   {'intake': '603',
    'enrolment': '1156',
    'sex': 'MF',
    'course': 'Hospitality',
    'year': '2011',
    '_id': 35,
    'graduates': '507'},
   {'intake': '322',
    'enrolment': '609',
    'sex': 'F',
    'course': 'Hospitality',
    'year': '2011',
    '_id': 36,
    'graduates': '245'},
   {'intake': '1261',
    'enrolment': '2469',
    'sex': 'MF',
    'course': 'Applied and Health Sciences',
    'year': '2012',
    '_id': 37,
    'graduates': '1097'},
   {'intake': '769',
    'enrolment': '1553',
    'sex': 'F',
    'course': 'Applied and Health Sciences',
    'year': '2012',
    '_id': 38,
    'graduates': '702'},
   {'intake': '3839',
    'enrolment': '5885',
    'sex': 'MF',
    'course': 'Business & Services',
    'year': '2012',
    '_id': 39,
    'graduates': '3065'},
   {'intake': '2372',
    'enrolment': '3623',
    'sex': 'F',
    'course': 'Business & Services',
    'year': '2012',
    '_id': 40,
    'graduates': '2024'},
   {'intake': '604',
    'enrolment': '1157',
    'sex': 'MF',
    'course': 'Design & Media',
    'year': '2012',
    '_id': 41,
    'graduates': '534'},
   {'intake': '288',
    'enrolment': '580',
    'sex': 'F',
    'course': 'Design & Media',
    'year': '2012',
    '_id': 42,
    'graduates': '284'},
   {'intake': '4229',
    'enrolment': '8078',
    'sex': 'MF',
    'course': 'Engineering',
    'year': '2012',
    '_id': 43,
    'graduates': '3352'},
   {'intake': '519',
    'enrolment': '1023',
    'sex': 'F',
    'course': 'Engineering',
    'year': '2012',
    '_id': 44,
    'graduates': '448'},
   {'intake': '3462',
    'enrolment': '6810',
    'sex': 'MF',
    'course': 'Electronics & Infocomm Technology',
    'year': '2012',
    '_id': 45,
    'graduates': '3130'},
   {'intake': '945',
    'enrolment': '1820',
    'sex': 'F',
    'course': 'Electronics & Infocomm Technology',
    'year': '2012',
    '_id': 46,
    'graduates': '793'},
   {'intake': '511',
    'enrolment': '971',
    'sex': 'MF',
    'course': 'Hospitality',
    'year': '2012',
    '_id': 47,
    'graduates': '352'},
   {'intake': '251',
    'enrolment': '486',
    'sex': 'F',
    'course': 'Hospitality',
    'year': '2012',
    '_id': 48,
    'graduates': '174'},
   {'intake': '1219',
    'enrolment': '2346',
    'sex': 'MF',
    'course': 'Applied and Health Sciences',
    'year': '2013',
    '_id': 49,
    'graduates': '1058'},
   {'intake': '750',
    'enrolment': '1470',
    'sex': 'F',
    'course': 'Applied and Health Sciences',
    'year': '2013',
    '_id': 50,
    'graduates': '683'},
   {'intake': '3916',
    'enrolment': '6257',
    'sex': 'MF',
    'course': 'Business & Services',
    'year': '2013',
    '_id': 51,
    'graduates': '3387'},
   {'intake': '2468',
    'enrolment': '3919',
    'sex': 'F',
    'course': 'Business & Services',
    'year': '2013',
    '_id': 52,
    'graduates': '2183'},
   {'intake': '811',
    'enrolment': '1291',
    'sex': 'MF',
    'course': 'Design & Media',
    'year': '2013',
    '_id': 53,
    'graduates': '471'},
   {'intake': '386',
    'enrolment': '633',
    'sex': 'F',
    'course': 'Design & Media',
    'year': '2013',
    '_id': 54,
    'graduates': '229'},
   {'intake': '4413',
    'enrolment': '8503',
    'sex': 'MF',
    'course': 'Engineering',
    'year': '2013',
    '_id': 55,
    'graduates': '3420'},
   {'intake': '621',
    'enrolment': '1030',
    'sex': 'F',
    'course': 'Engineering',
    'year': '2013',
    '_id': 56,
    'graduates': '411'},
   {'intake': '3533',
    'enrolment': '6883',
    'sex': 'MF',
    'course': 'Electronics & Infocomm Technology',
    'year': '2013',
    '_id': 57,
    'graduates': '3085'},
   {'intake': '941',
    'enrolment': '1859',
    'sex': 'F',
    'course': 'Electronics & Infocomm Technology',
    'year': '2013',
    '_id': 58,
    'graduates': '848'},
   {'intake': '540',
    'enrolment': '1008',
    'sex': 'MF',
    'course': 'Hospitality',
    'year': '2013',
    '_id': 59,
    'graduates': '467'},
   {'intake': '293',
    'enrolment': '517',
    'sex': 'F',
    'course': 'Hospitality',
    'year': '2013',
    '_id': 60,
    'graduates': '226'},
   {'intake': '1154',
    'enrolment': '2597',
    'sex': 'MF',
    'course': 'Applied and Health Sciences',
    'year': '2014',
    '_id': 61,
    'graduates': '1037'},
   {'intake': '701',
    'enrolment': '1631',
    'sex': 'F',
    'course': 'Applied and Health Sciences',
    'year': '2014',
    '_id': 62,
    'graduates': '645'},
   {'intake': '4006',
    'enrolment': '6682',
    'sex': 'MF',
    'course': 'Business & Services',
    'year': '2014',
    '_id': 63,
    'graduates': '2469'},
   {'intake': '2547',
    'enrolment': '4173',
    'sex': 'F',
    'course': 'Business & Services',
    'year': '2014',
    '_id': 64,
    'graduates': '1545'},
   {'intake': '879',
    'enrolment': '1494',
    'sex': 'MF',
    'course': 'Design & Media',
    'year': '2014',
    '_id': 65,
    'graduates': '639'},
   {'intake': '462',
    'enrolment': '751',
    'sex': 'F',
    'course': 'Design & Media',
    'year': '2014',
    '_id': 66,
    'graduates': '318'},
   {'intake': '4560',
    'enrolment': '9064',
    'sex': 'MF',
    'course': 'Engineering',
    'year': '2014',
    '_id': 67,
    'graduates': '3574'},
   {'intake': '633',
    'enrolment': '1218',
    'sex': 'F',
    'course': 'Engineering',
    'year': '2014',
    '_id': 68,
    'graduates': '400'},
   {'intake': '3506',
    'enrolment': '7033',
    'sex': 'MF',
    'course': 'Electronics & Infocomm Technology',
    'year': '2014',
    '_id': 69,
    'graduates': '2881'},
   {'intake': '948',
    'enrolment': '1860',
    'sex': 'F',
    'course': 'Electronics & Infocomm Technology',
    'year': '2014',
    '_id': 70,
    'graduates': '734'},
   {'intake': '536',
    'enrolment': '1166',
    'sex': 'MF',
    'course': 'Hospitality',
    'year': '2014',
    '_id': 71,
    'graduates': '462'},
   {'intake': '283',
    'enrolment': '616',
    'sex': 'F',
    'course': 'Hospitality',
    'year': '2014',
    '_id': 72,
    'graduates': '241'},
   {'intake': '1173',
    'enrolment': '2523',
    'sex': 'MF',
    'course': 'Applied and Health Sciences',
    'year': '2015',
    '_id': 73,
    'graduates': '1274'},
   {'intake': '733',
    'enrolment': '1594',
    'sex': 'F',
    'course': 'Applied and Health Sciences',
    'year': '2015',
    '_id': 74,
    'graduates': '815'},
   {'intake': '3633',
    'enrolment': '8010',
    'sex': 'MF',
    'course': 'Business & Services',
    'year': '2015',
    '_id': 75,
    'graduates': '3528'},
   {'intake': '2184',
    'enrolment': '5048',
    'sex': 'F',
    'course': 'Business & Services',
    'year': '2015',
    '_id': 76,
    'graduates': '2223'},
   {'intake': '933',
    'enrolment': '1565',
    'sex': 'MF',
    'course': 'Design & Media',
    'year': '2015',
    '_id': 77,
    'graduates': '705'},
   {'intake': '466',
    'enrolment': '798',
    'sex': 'F',
    'course': 'Design & Media',
    'year': '2015',
    '_id': 78,
    'graduates': '355'},
   {'intake': '4486',
    'enrolment': '9045',
    'sex': 'MF',
    'course': 'Engineering',
    'year': '2015',
    '_id': 79,
    'graduates': '3966'},
   {'intake': '623',
    'enrolment': '1287',
    'sex': 'F',
    'course': 'Engineering',
    'year': '2015',
    '_id': 80,
    'graduates': '554'},
   {'intake': '3383',
    'enrolment': '6927',
    'sex': 'MF',
    'course': 'Electronics & Infocomm Technology',
    'year': '2015',
    '_id': 81,
    'graduates': '3266'},
   {'intake': '891',
    'enrolment': '1873',
    'sex': 'F',
    'course': 'Electronics & Infocomm Technology',
    'year': '2015',
    '_id': 82,
    'graduates': '868'},
   {'intake': '565',
    'enrolment': '1225',
    'sex': 'MF',
    'course': 'Hospitality',
    'year': '2015',
    '_id': 83,
    'graduates': '612'},
   {'intake': '307',
    'enrolment': '667',
    'sex': 'F',
    'course': 'Hospitality',
    'year': '2015',
    '_id': 84,
    'graduates': '325'},
   {'intake': '1234',
    'enrolment': '2322',
    'sex': 'MF',
    'course': 'Applied and Health Sciences',
    'year': '2016',
    '_id': 85,
    'graduates': '988'},
   {'intake': '740',
    'enrolment': '1427',
    'sex': 'F',
    'course': 'Applied and Health Sciences',
    'year': '2016',
    '_id': 86,
    'graduates': '632'},
   {'intake': '4152',
    'enrolment': '7411',
    'sex': 'MF',
    'course': 'Business & Services',
    'year': '2016',
    '_id': 87,
    'graduates': '3654'},
   {'intake': '2591',
    'enrolment': '4594',
    'sex': 'F',
    'course': 'Business & Services',
    'year': '2016',
    '_id': 88,
    'graduates': '2334'},
   {'intake': '965',
    'enrolment': '1851',
    'sex': 'MF',
    'course': 'Design & Media',
    'year': '2016',
    '_id': 89,
    'graduates': '735'},
   {'intake': '479',
    'enrolment': '921',
    'sex': 'F',
    'course': 'Design & Media',
    'year': '2016',
    '_id': 90,
    'graduates': '373'},
   {'intake': '4488',
    'enrolment': '8483',
    'sex': 'MF',
    'course': 'Engineering',
    'year': '2016',
    '_id': 91,
    'graduates': '3753'},
   {'intake': '647',
    'enrolment': '1164',
    'sex': 'F',
    'course': 'Engineering',
    'year': '2016',
    '_id': 92,
    'graduates': '469'},
   {'intake': '3318',
    'enrolment': '6324',
    'sex': 'MF',
    'course': 'Electronics & Infocomm Technology',
    'year': '2016',
    '_id': 93,
    'graduates': '2858'},
   {'intake': '859',
    'enrolment': '1638',
    'sex': 'F',
    'course': 'Electronics & Infocomm Technology',
    'year': '2016',
    '_id': 94,
    'graduates': '764'},
   {'intake': '606',
    'enrolment': '1128',
    'sex': 'MF',
    'course': 'Hospitality',
    'year': '2016',
    '_id': 95,
    'graduates': '528'},
   {'intake': '319',
    'enrolment': '602',
    'sex': 'F',
    'course': 'Hospitality',
    'year': '2016',
    '_id': 96,
    'graduates': '291'},
   {'intake': '1342',
    'enrolment': '2537',
    'sex': 'MF',
    'course': 'Applied and Health Sciences',
    'year': '2017',
    '_id': 97,
    'graduates': '1059'},
   {'intake': '850',
    'enrolment': '1558',
    'sex': 'F',
    'course': 'Applied and Health Sciences',
    'year': '2017',
    '_id': 98,
    'graduates': '643'},
   {'intake': '4344',
    'enrolment': '7797',
    'sex': 'MF',
    'course': 'Business & Services',
    'year': '2017',
    '_id': 99,
    'graduates': '3496'},
   {'intake': '2680',
    'enrolment': '4836',
    'sex': 'F',
    'course': 'Business & Services',
    'year': '2017',
    '_id': 100,
    'graduates': '2172'},
   {'intake': '967',
    'enrolment': '1862',
    'sex': 'MF',
    'course': 'Design & Media',
    'year': '2017',
    '_id': 101,
    'graduates': '889'},
   {'intake': '486',
    'enrolment': '921',
    'sex': 'F',
    'course': 'Design & Media',
    'year': '2017',
    '_id': 102,
    'graduates': '440'},
   {'intake': '4685',
    'enrolment': '8643',
    'sex': 'MF',
    'course': 'Engineering',
    'year': '2017',
    '_id': 103,
    'graduates': '3805'},
   {'intake': '676',
    'enrolment': '1228',
    'sex': 'F',
    'course': 'Engineering',
    'year': '2017',
    '_id': 104,
    'graduates': '530'},
   {'intake': '3570',
    'enrolment': '6531',
    'sex': 'MF',
    'course': 'Electronics & Infocomm Technology',
    'year': '2017',
    '_id': 105,
    'graduates': '3100'},
   {'intake': '925',
    'enrolment': '1692',
    'sex': 'F',
    'course': 'Electronics & Infocomm Technology',
    'year': '2017',
    '_id': 106,
    'graduates': '746'},
   {'intake': '598',
    'enrolment': '1138',
    'sex': 'MF',
    'course': 'Hospitality',
    'year': '2017',
    '_id': 107,
    'graduates': '509'},
   {'intake': '298',
    'enrolment': '569',
    'sex': 'F',
    'course': 'Hospitality',
    'year': '2017',
    '_id': 108,
    'graduates': '277'},
   {'intake': '1259',
    'enrolment': '2503',
    'sex': 'MF',
    'course': 'Applied and Health Sciences',
    'year': '2018',
    '_id': 109,
    'graduates': '1163'},
   {'intake': '806',
    'enrolment': '1602',
    'sex': 'F',
    'course': 'Applied and Health Sciences',
    'year': '2018',
    '_id': 110,
    'graduates': '737'},
   {'intake': '4125',
    'enrolment': '7762',
    'sex': 'MF',
    'course': 'Business & Services',
    'year': '2018',
    '_id': 111,
    'graduates': '3608'},
   {'intake': '2507',
    'enrolment': '4732',
    'sex': 'F',
    'course': 'Business & Services',
    'year': '2018',
    '_id': 112,
    'graduates': '2221'},
   {'intake': '927',
    'enrolment': '1815',
    'sex': 'MF',
    'course': 'Design & Media',
    'year': '2018',
    '_id': 113,
    'graduates': '876'},
   {'intake': '481',
    'enrolment': '912',
    'sex': 'F',
    'course': 'Design & Media',
    'year': '2018',
    '_id': 114,
    'graduates': '420'},
   {'intake': '4524',
    'enrolment': '8639',
    'sex': 'MF',
    'course': 'Engineering',
    'year': '2018',
    '_id': 115,
    'graduates': '3992'},
   {'intake': '628',
    'enrolment': '1198',
    'sex': 'F',
    'course': 'Engineering',
    'year': '2018',
    '_id': 116,
    'graduates': '559'},
   {'intake': '3321',
    'enrolment': '6432',
    'sex': 'MF',
    'course': 'Electronics & Infocomm Technology',
    'year': '2018',
    '_id': 117,
    'graduates': '3241'},
   {'intake': '850',
    'enrolment': '1632',
    'sex': 'F',
    'course': 'Electronics & Infocomm Technology',
    'year': '2018',
    '_id': 118,
    'graduates': '832'},
   {'intake': '663',
    'enrolment': '1216',
    'sex': 'MF',
    'course': 'Hospitality',
    'year': '2018',
    '_id': 119,
    'graduates': '541'},
   {'intake': '357',
    'enrolment': '631',
    'sex': 'F',
    'course': 'Hospitality',
    'year': '2018',
    '_id': 120,
    'graduates': '257'},
   {'intake': '1305',
    'enrolment': '2458',
    'sex': 'MF',
    'course': 'Applied and Health Sciences',
    'year': '2019',
    '_id': 121,
    'graduates': '1039'},
   {'intake': '822',
    'enrolment': '1565',
    'sex': 'F',
    'course': 'Applied and Health Sciences',
    'year': '2019',
    '_id': 122,

In [3]:
# Extracting relevant information
fields = json_data['result']['fields']
records = json_data['result']['records']

# Printing the extracted data
print("Fields:")
for field in fields:
    print(field['id'], "-", field['type'])
print()

print("Records:")
for record in records:
    print("Year:", record['year'])
    print("Course:", record['course'])
    print("Enrolment:", record['enrolment'])
    print("Graduates:", record['graduates'])
    print()

Fields:
_id - int4
year - numeric
sex - text
course - text
intake - numeric
enrolment - numeric
graduates - numeric

Records:
Year: 2009
Course: Applied and Health Sciences
Enrolment: 2172
Graduates: 944

Year: 2009
Course: Applied and Health Sciences
Enrolment: 1369
Graduates: 593

Year: 2009
Course: Business & Services
Enrolment: 6316
Graduates: 3429

Year: 2009
Course: Business & Services
Enrolment: 4188
Graduates: 2435

Year: 2009
Course: Design & Media
Enrolment: 895
Graduates: 308

Year: 2009
Course: Design & Media
Enrolment: 418
Graduates: 142

Year: 2009
Course: Engineering
Enrolment: 8237
Graduates: 3463

Year: 2009
Course: Engineering
Enrolment: 964
Graduates: 369

Year: 2009
Course: Electronics & Infocomm Technology
Enrolment: 7226
Graduates: 2855

Year: 2009
Course: Electronics & Infocomm Technology
Enrolment: 1905
Graduates: 772

Year: 2009
Course: Hospitality
Enrolment: 0
Graduates: 0

Year: 2009
Course: Hospitality
Enrolment: 0
Graduates: 0

Year: 2010
Course: Applied and Health Sciences
Enrolment: 2198
Graduates: 987

Year: 2010
Course: Applied and Health Sciences
Enrolment: 1336
Graduates: 637

Year: 2010
Course: Business & Services
Enrolment: 6321
Graduates: 3591

Year: 2010
Course: Business & Services
Enrolment: 4138
Graduates: 2474

Year: 2010
Course: Design & Media
Enrolment: 1094
Graduates: 420

Year: 2010
Course: Design & Media
Enrolment: 548
Graduates: 181

Year: 2010
Course: Engineering
Enrolment: 7891
Graduates: 3179

Year: 2010
Course: Engineering
Enrolment: 968
Graduates: 366

Year: 2010
Course: Electronics & Infocomm Technology
Enrolment: 7285
Graduates: 3157

Year: 2010
Course: Electronics & Infocomm Technology
Enrolment: 1866
Graduates: 830

Year: 2010
Course: Hospitality
Enrolment: 0
Graduates: 0

Year: 2010
Course: Hospitality
Enrolment: 0
Graduates: 0

Year: 2011
Course: Applied and Health Sciences
Enrolment: 2447
Graduates: 940

Year: 2011
Course: Applied and Health Sciences
Enrolment: 1560
Graduates: 591

Year: 2011
Course: Business & Services
Enrolment: 6462
Graduates: 3509

Year: 2011
Course: Business & Services
Enrolment: 4060
Graduates: 2300

Year: 2011
Course: Design & Media
Enrolment: 1156
Graduates: 507

Year: 2011
Course: Design & Media
Enrolment: 609
Graduates: 245

Year: 2011
Course: Engineering
Enrolment: 7997
Graduates: 3128

Year: 2011
Course: Engineering
Enrolment: 1068
Graduates: 386

Year: 2011
Course: Electronics & Infocomm Technology
Enrolment: 7217
Graduates: 3081

Year: 2011
Course: Electronics & Infocomm Technology
Enrolment: 1861
Graduates: 804

Year: 2011
Course: Hospitality
Enrolment: 1156
Graduates: 507

Year: 2011
Course: Hospitality
Enrolment: 609
Graduates: 245

Year: 2012
Course: Applied and Health Sciences
Enrolment: 2469
Graduates: 1097

Year: 2012
Course: Applied and Health Sciences
Enrolment: 1553
Graduates: 702

Year: 2012
Course: Business & Services
Enrolment: 5885
Graduates: 3065

Year: 2012
Course: Business & Services
Enrolment: 3623
Graduates: 2024

Year: 2012
Course: Design & Media
Enrolment: 1157
Graduates: 534

Year: 2012
Course: Design & Media
Enrolment: 580
Graduates: 284

Year: 2012
Course: Engineering
Enrolment: 8078
Graduates: 3352

Year: 2012
Course: Engineering
Enrolment: 1023
Graduates: 448

Year: 2012
Course: Electronics & Infocomm Technology
Enrolment: 6810
Graduates: 3130

Year: 2012
Course: Electronics & Infocomm Technology
Enrolment: 1820
Graduates: 793

Year: 2012
Course: Hospitality
Enrolment: 971
Graduates: 352

Year: 2012
Course: Hospitality
Enrolment: 486
Graduates: 174

Year: 2013
Course: Applied and Health Sciences
Enrolment: 2346
Graduates: 1058

Year: 2013
Course: Applied and Health Sciences
Enrolment: 1470
Graduates: 683

Year: 2013
Course: Business & Services
Enrolment: 6257
Graduates: 3387

Year: 2013
Course: Business & Services
Enrolment: 3919
Graduates: 2183

Year: 2013
Course: Design & Media
Enrolment: 1291
Graduates: 471

Year: 2013
Course: Design & Media
Enrolment: 633
Graduates: 229

Year: 2013
Course: Engineering
Enrolment: 8503
Graduates: 3420

Year: 2013
Course: Engineering
Enrolment: 1030
Graduates: 411

Year: 2013
Course: Electronics & Infocomm Technology
Enrolment: 6883
Graduates: 3085

Year: 2013
Course: Electronics & Infocomm Technology
Enrolment: 1859
Graduates: 848

Year: 2013
Course: Hospitality
Enrolment: 1008
Graduates: 467

Year: 2013
Course: Hospitality
Enrolment: 517
Graduates: 226

Year: 2014
Course: Applied and Health Sciences
Enrolment: 2597
Graduates: 1037

Year: 2014
Course: Applied and Health Sciences
Enrolment: 1631
Graduates: 645

Year: 2014
Course: Business & Services
Enrolment: 6682
Graduates: 2469

Year: 2014
Course: Business & Services
Enrolment: 4173
Graduates: 1545

Year: 2014
Course: Design & Media
Enrolment: 1494
Graduates: 639

Year: 2014
Course: Design & Media
Enrolment: 751
Graduates: 318

Year: 2014
Course: Engineering
Enrolment: 9064
Graduates: 3574

Year: 2014
Course: Engineering
Enrolment: 1218
Graduates: 400

Year: 2014
Course: Electronics & Infocomm Technology
Enrolment: 7033
Graduates: 2881

Year: 2014
Course: Electronics & Infocomm Technology
Enrolment: 1860
Graduates: 734

Year: 2014
Course: Hospitality
Enrolment: 1166
Graduates: 462

Year: 2014
Course: Hospitality
Enrolment: 616
Graduates: 241

Year: 2015
Course: Applied and Health Sciences
Enrolment: 2523
Graduates: 1274

Year: 2015
Course: Applied and Health Sciences
Enrolment: 1594
Graduates: 815

Year: 2015
Course: Business & Services
Enrolment: 8010
Graduates: 3528

Year: 2015
Course: Business & Services
Enrolment: 5048
Graduates: 2223

Year: 2015
Course: Design & Media
Enrolment: 1565
Graduates: 705

Year: 2015
Course: Design & Media
Enrolment: 798
Graduates: 355

Year: 2015
Course: Engineering
Enrolment: 9045
Graduates: 3966

Year: 2015
Course: Engineering
Enrolment: 1287
Graduates: 554

Year: 2015
Course: Electronics & Infocomm Technology
Enrolment: 6927
Graduates: 3266

Year: 2015
Course: Electronics & Infocomm Technology
Enrolment: 1873
Graduates: 868

Year: 2015
Course: Hospitality
Enrolment: 1225
Graduates: 612

Year: 2015
Course: Hospitality
Enrolment: 667
Graduates: 325

Year: 2016
Course: Applied and Health Sciences
Enrolment: 2322
Graduates: 988

Year: 2016
Course: Applied and Health Sciences
Enrolment: 1427
Graduates: 632

Year: 2016
Course: Business & Services
Enrolment: 7411
Graduates: 3654

Year: 2016
Course: Business & Services
Enrolment: 4594
Graduates: 2334

Year: 2016
Course: Design & Media
Enrolment: 1851
Graduates: 735

Year: 2016
Course: Design & Media
Enrolment: 921
Graduates: 373

Year: 2016
Course: Engineering
Enrolment: 8483
Graduates: 3753

Year: 2016
Course: Engineering
Enrolment: 1164
Graduates: 469

Year: 2016
Course: Electronics & Infocomm Technology
Enrolment: 6324
Graduates: 2858

Year: 2016
Course: Electronics & Infocomm Technology
Enrolment: 1638
Graduates: 764

Year: 2016
Course: Hospitality
Enrolment: 1128
Graduates: 528

Year: 2016
Course: Hospitality
Enrolment: 602
Graduates: 291

Year: 2017
Course: Applied and Health Sciences
Enrolment: 2537
Graduates: 1059

Year: 2017
Course: Applied and Health Sciences
Enrolment: 1558
Graduates: 643

Year: 2017
Course: Business & Services
Enrolment: 7797
Graduates: 3496

Year: 2017
Course: Business & Services
Enrolment: 4836
Graduates: 2172

Year: 2017
Course: Design & Media
Enrolment: 1862
Graduates: 889

Year: 2017
Course: Design & Media
Enrolment: 921
Graduates: 440

Year: 2017
Course: Engineering
Enrolment: 8643
Graduates: 3805

Year: 2017
Course: Engineering
Enrolment: 1228
Graduates: 530

Year: 2017
Course: Electronics & Infocomm Technology
Enrolment: 6531
Graduates: 3100

Year: 2017
Course: Electronics & Infocomm Technology
Enrolment: 1692
Graduates: 746

Year: 2017
Course: Hospitality
Enrolment: 1138
Graduates: 509

Year: 2017
Course: Hospitality
Enrolment: 569
Graduates: 277

Year: 2018
Course: Applied and Health Sciences
Enrolment: 2503
Graduates: 1163

Year: 2018
Course: Applied and Health Sciences
Enrolment: 1602
Graduates: 737

Year: 2018
Course: Business & Services
Enrolment: 7762
Graduates: 3608

Year: 2018
Course: Business & Services
Enrolment: 4732
Graduates: 2221

Year: 2018
Course: Design & Media
Enrolment: 1815
Graduates: 876

Year: 2018
Course: Design & Media
Enrolment: 912
Graduates: 420

Year: 2018
Course: Engineering
Enrolment: 8639
Graduates: 3992

Year: 2018
Course: Engineering
Enrolment: 1198
Graduates: 559

Year: 2018
Course: Electronics & Infocomm Technology
Enrolment: 6432
Graduates: 3241

Year: 2018
Course: Electronics & Infocomm Technology
Enrolment: 1632
Graduates: 832

Year: 2018
Course: Hospitality
Enrolment: 1216
Graduates: 541

Year: 2018
Course: Hospitality
Enrolment: 631
Graduates: 257

Year: 2019
Course: Applied and Health Sciences
Enrolment: 2458
Graduates: 1039

Year: 2019
Course: Applied and Health Sciences
Enrolment: 1565
Graduates: 701

Year: 2019
Course: Business & Services
Enrolment: 7545
Graduates: 3631

Year: 2019
Course: Business & Services
Enrolment: 4623
Graduates: 2285

Year: 2019
Course: Design & Media
Enrolment: 1902
Graduates: 804

Year: 2019
Course: Design & Media
Enrolment: 1024
Graduates: 405

Year: 2019
Course: Engineering
Enrolment: 8552
Graduates: 3731

Year: 2019
Course: Engineering
Enrolment: 1225
Graduates: 502

Year: 2019
Course: Electronics & Infocomm Technology
Enrolment: 6265
Graduates: 2821

Year: 2019
Course: Electronics & Infocomm Technology
Enrolment: 1564
Graduates: 714

Year: 2019
Course: Hospitality
Enrolment: 1246
Graduates: 569

Year: 2019
Course: Hospitality
Enrolment: 657
Graduates: 323

Year: 2020
Course: Applied and Health Sciences
Enrolment: 2500
Graduates: 1127

Year: 2020
Course: Applied and Health Sciences
Enrolment: 1603
Graduates: 700

Year: 2020
Course: Business & Services
Enrolment: 7295
Graduates: 3659

Year: 2020
Course: Business & Services
Enrolment: 4544
Graduates: 2266

Year: 2020
Course: Design & Media
Enrolment: 1991
Graduates: 850

Year: 2020
Course: Design & Media
Enrolment: 1080
Graduates: 471

Year: 2020
Course: Engineering
Enrolment: 8500
Graduates: 3953

Year: 2020
Course: Engineering
Enrolment: 1305
Graduates: 552

Year: 2020
Course: Electronics & Infocomm Technology
Enrolment: 6245
Graduates: 2948

Year: 2020
Course: Electronics & Infocomm Technology
Enrolment: 1543
Graduates: 710

Year: 2020
Course: Hospitality
Enrolment: 1294
Graduates: 607

Year: 2020
Course: Hospitality
Enrolment: 695
Graduates: 328

Year: 2021
Course: Applied & Health Sciences
Enrolment: 1683
Graduates: 722

Year: 2021
Course: Business & Services
Enrolment: 4536
Graduates: 2237

Year: 2021
Course: Design & Media
Enrolment: 1112
Graduates: 501

Year: 2021
Course: Electronics & Infocomm Technology
Enrolment: 1543
Graduates: 724

Year: 2021
Course: Engineering
Enrolment: 1368
Graduates: 633

Year: 2021
Course: Hospitality
Enrolment: 715
Graduates: 356

Year: 2021
Course: Applied & Health Sciences
Enrolment: 2549
Graduates: 1105

Year: 2021
Course: Business & Services
Enrolment: 7260
Graduates: 3519

Year: 2021
Course: Design & Media
Enrolment: 1966
Graduates: 912

Year: 2021
Course: Electronics & Infocomm Technology
Enrolment: 6235
Graduates: 3022

Year: 2021
Course: Engineering
Enrolment: 8550
Graduates: 4023

Year: 2021
Course: Hospitality
Enrolment: 1302
Graduates: 643

In [4]:
import pandas as pd
# turning it into a pandas dataframe
records = json_data['result']['records']

# Create a list of dictionaries for each record
data_list = []
for record in records:
    data_list.append(record)

# Create a pandas DataFrame from the list of dictionaries
df = pd.DataFrame(data_list)

# Print the DataFrame
print(df)

    intake enrolment sex                             course  year  _id  \
0     1156      2172  MF        Applied and Health Sciences  2009    1
1      710      1369   F        Applied and Health Sciences  2009    2
2     4076      6316  MF                Business & Services  2009    3
3     2799      4188   F                Business & Services  2009    4
4      541       895  MF                     Design & Media  2009    5
..     ...       ...  ..                                ...   ...  ...
151   3903      7260  MF                Business & Services  2021  152
152   1009      1966  MF                     Design & Media  2021  153
153   3313      6235  MF  Electronics & Infocomm Technology  2021  154
154   4464      8550  MF                        Engineering  2021  155
155    714      1302  MF                        Hospitality  2021  156

    graduates
0         944
1         593
2        3429
3        2435
4         308
..        ...
151      3519
152       912
153      3022
154      4023
155       643

[156 rows x 7 columns]

In [5]:
# displaying the data
df.head()

  intake enrolment sex                       course  year  _id graduates
0   1156      2172  MF  Applied and Health Sciences  2009    1       944
1    710      1369   F  Applied and Health Sciences  2009    2       593
2   4076      6316  MF          Business & Services  2009    3      3429
3   2799      4188   F          Business & Services  2009    4      2435
4    541       895  MF               Design & Media  2009    5       308

In [6]:
# shape of the data
df.shape

(156, 7)

In [7]:
# Drop the '_id' column
df = df.drop('_id', axis=1)

In [8]:
# frequency table
table = df.groupby(['course', 'sex']).size().unstack(fill_value=0)
print(table)

sex                                 F  MF
course
Applied & Health Sciences           1   1
Applied and Health Sciences        12  12
Business & Services                13  13
Design & Media                     13  13
Electronics & Infocomm Technology  13  13
Engineering                        13  13
Hospitality                        13  13

well balanced data

In [9]:
df.isna().sum()

intake       0
enrolment    0
sex          0
course       0
year         0
graduates    0
dtype: int64

no missing data too!

In [12]:
df['course'] = df['course'].replace('Applied & Health Sciences', 'Applied and Health Sciences')

In [13]:
# getting the data as a csv file
df.to_csv("data/ITE intake enrolment cleaned.csv")

In [14]:
df.head()

  intake enrolment sex                       course  year graduates
0   1156      2172  MF  Applied and Health Sciences  2009       944
1    710      1369   F  Applied and Health Sciences  2009       593
2   4076      6316  MF          Business & Services  2009      3429
3   2799      4188   F          Business & Services  2009      2435
4    541       895  MF               Design & Media  2009       308